<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Procesamiento Digital de Imagenes</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js" integrity="sha512-9KkIqdfN7ipEW6B6k+Aq20PV31bjODg4AA52W+tYtAE0jE0kMx49bjJ3FgvS56wzmyfMUHbQ4Km2b7l9+Y/+Eg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.css" integrity="sha512-hvNR0F/e2J7zPPfLC9auFe3/SE0yG4aJCOd/qxew74NN7eyiSKjr7xJJMu1Jy2wf7FXITpWS1E/RY8yzuXN7VA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  </head>

  <body>
    <nav>
      <img src="static/img/escudo_ing2.png" alt="logo-empresa" />
      <span>Procesamiento Digital de Imagenes</span>
    </nav>

    <h1>Su Archivo ha sido procesado correctamente y esta listo para descargar</h1>
    
    <img id="image-ready" src="static/downloads/{{ archivo }}.{{exten}}" />

    <div id="image-save">
      <input type="submit" value="Guardar Imagen" class="choose-btn" />
    </div>
    
    
    <script src="static/index.js"></script>

    
  </body>
  
</html>